.nav-tabs {
    border-color: $secondary-300;
    border: 0;

    .nav-link {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border: 0;
        background-color: $secondary-300;
        color: $primary;
    }

    .active {
        background-color: $secondary-700  !important;
        color: $third  !important;
    }

}

.tab-content {
    // margin-top: -1px;
    // background-color: $secondary-700;
    border: 5px solid $secondary-700;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    // border-top-right-radius: 16px;

    .tabTextBar {
        width: 6px;
        height: 48px;
        background-color: $success-900;
        border-radius: 3px;
        display: inline-block;
        vertical-align: top;

        @media (max-width:991.98px) {
            height: 42px;
        }

        @media (max-width:767.98px) {
            height: 24px;
        }
    }
}


.recommendBox {
    height: 506px;
    overflow: hidden;

    .pic {
        position: relative;
        // flex-shrink: 1;
        // flex-grow: 1;
        overflow: hidden;
        transition: 1s;

        &:hover {
            flex-shrink: 0;
            flex-grow: 0;
        }

        &:hover .title {
            color: $secondary;
        }

        .title {
            position: absolute;
            color: $third;
            background-color: #1b273370;
            bottom: 0;
            width: 100%;
            text-align: center;
        }
    }
}

.recommendBoxColunm {
    overflow: hidden;

    .pic {
        position: relative;
        margin-bottom: 24px;
        overflow: hidden;
        max-width: 344px;
        width: 100%;
        height: 98px;
        transition: all 0.4s;

        &:hover {
            transform: scale(1.1);
        }

        &:hover .title {
            color: $secondary;
        }
    }

    .title {
        position: absolute;
        color: $third;
        background-color: #1b273370;
        bottom: 0;
        width: 100%;
        text-align: center;
    }
}

.user {
    max-width: 200px;
    width: 100%;
    background-color: transparent;
    outline: none;
    color: $primary-900;
}


.checkBox {
    border-radius: 16px;
    border: 5px solid $secondary;

    @media (max-width:767.98px) {
        border: 3px solid $secondary;
    }


    .checkBar {
        width: 3px;
        height: 94px;
        margin-top: 10px;
        background-color: $success;
        border-radius: 3px;
        display: inline-block;
        vertical-align: middle;
    }
}

.count {
    .time {
        border-bottom-left-radius: 16px;
        border-bottom-right-radius: 16px;
    }

    .one,
    .two,
    .three {
        border-radius: 16px;
    }
}

.knowledge {
    border-radius: 16px;
    position: relative;
    border: 5px solid $secondary;

    @media (max-width:767.98px) {
        border: 3px solid $secondary;
    }

    .title {
        position: absolute;
        top: 0;
        left: 0;
    }

    .bean {
        border-top-left-radius: 12px;
        border-bottom-right-radius: 16px;
    }

    .bean1 {
        border-top-left-radius: 12px;
        border-bottom-left-radius: 12px;
        padding: 16px 0;
    }

    .right {
        padding-left: 120px;
    }

    .body {
        max-width: 600px;
        width: 100%;
        margin: 0 auto;

        .text1 {
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
    }

    .answer {
        position: absolute;
        bottom: 0;
        right: 0;
        border-top-left-radius: 16px;
        border-bottom-right-radius: 12px;
    }

    .answer1 {
        position: absolute;
        bottom: 0;
        right: 0;
        border-top-right-radius: 12px;
        border-bottom-right-radius: 12px;
        padding: 14px 10px;
    }
}