//字體

@import url("https://fonts.googleapis.com/css2?family=Kosugi+Maru&family=Noto+Sans+TC:wght@400;500;700&display=swap");

//ICON
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,300,0,0");

body {
  background-color: #FFFDEE;
  line-height: 1.5;
  font-size: 16px;
}

$primary: #1D2D51;
$primary-900: #49567e;
$primary-700: #7782ad;
$primary-500: #a7b1df;
$primary-300: #d9e3ff;
$secondary: #E5A600;
$secondary-900: #EAB833;
$secondary-700: #EFCA66;
$secondary-500: #F4DC99;
$secondary-300: #F9EECC;
$danger: #B3193F;
$danger-900: #eb5469;
$danger-700: #ff8797;
$danger-500: #ffb9c8;
$danger-300: #ffecfb;
$success: #79872F;
$success-900: #949F59;
$success-700: #AFB783;
$success-500: #CACFAD;
$success-300: #E5E7D7;
$third: #fffdf0;

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}

div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
small,
ul,
li,
form,
label {
  margin: 0;
  border: 0;
  // font-size: 100%;
  // font: inherit;
}

ul,
li {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: $primary;
}

.sign {
  height: 100vh;
}


.signIn,
.signUp {
  position: relative;
}

.signIn {
  box-shadow: 0 4px 6px $primary;
}

.up {
  position: absolute;
  width: 152px;
  height: 152px;
  padding: 0;
  top: -140px;
  left: -180px;
}


.down {
  position: absolute;
  width: 152px;
  height: 152px;
  padding: 0;
  right: -180px;
  bottom: -140px;
}

.up2 {
  position: absolute;
  width: 98px;
  height: 98px;
  padding: 0;
  left: -86px;
  top: -92px;
}

.down2 {
  position: absolute;
  width: 98px;
  height: 98px;
  padding: 0;
  right: -86px;
  bottom: -92px;
}


.logored {
  position: absolute;
  width: 373px;
  height: 351px;
  left: -220px;
  bottom: -130px;
}

.logored1 {
  position: absolute;
  width: 373px;
  height: 351px;
  left: -244px;
  bottom: -158px;
}

.logored2 {
  position: absolute;
  width: 239px;
  height: 226px;
  left: -88px;
  bottom: -80px;
}

.logored3 {
  position: absolute;
  width: 153px;
  height: 144px;
  left: -38px;
  bottom: -64px;
}

.tag {
  position: relative;
  position: absolute;
  width: 157px;
  height: 163px;
  top: 24px;
  right: -100px;

  .tagName {
    position: absolute;
    width: 157px;
    height: 163px;
    top: 52px;
    left: 0;
  }
}

.tag1 {
  position: relative;
  position: absolute;
  width: 110px;
  height: 115px;
  top: 24px;
  right: -52px;

  .tagName1 {
    position: absolute;
    width: 110px;
    height: 115px;
    top: 36px;
    left: 2px;

  }
}

.tag2 {
  position: relative;
  position: absolute;
  width: 65px;
  height: 67px;
  top: 12px;
  right: 0;

  .tagName2 {
    position: absolute;
    width: 65px;
    height: 67px;
    top: 20px;
    left: 2px;

  }
}



.signInFormBox {
  max-width: 556px;

  input {
    outline: none;
  }

  .emailBox,
  .passwordBox {
    width: 100%;
    position: relative;
    display: inline-block;

    input[type="email"],
    input[type="password"] {
      width: 100%;
      padding: 16px 32px 16px 98px;

      @media (max-width:767.98px) {
        padding: 16px 32px 16px 68px;
      }
    }
  }

  .person,
  .key {
    position: absolute;
    top: 50%;
    left: 34px;
    transform: translateY(-50%);

    @media (max-width:767.98px) {
      left: 24px;
    }
  }

  input[type="submit"] {
    width: 100%;
  }

  .social {

    .google {
      font-size: 62px;
      color: $third;

      @media (max-width:767.98px) {
        font-size: 48px;
      }

      &:hover {
        color: $danger;
      }
    }

    .google1:hover {
      color: $primary;
    }
  }

  .sendSignIn {
    max-width: 524px;
    width: 100%;
  }
}

#infoModalforgot {
  max-width: 520px;
  border-radius: 16px;
}

#closeforgot {
  cursor: pointer;
}

.forgotbox,
.numberbox {
  background: $secondary-300;
  border: 0;
  border-radius: 8px;
}

.forgotbox {
  max-width: 312px;

  @media (max-width:767.98px) {
    max-width: 180px;
  }
}

.numberbox {
  max-width: 156px;

  @media (max-width:991.98px) {
    max-width: 151px;
  }

  @media (max-width:767.98px) {
    max-width: 180px;
  }
}