.navMain {
    box-shadow: 0 3px 6px $secondary;

    .navListPad {
        display: none;
    }

    .navListItem {
        box-shadow: 0 0 6px rgba(229, 166, 0, .2);

        &:hover {
            background-color: $secondary;
        }
    }

    .active {
        background-color: $secondary;
    }

    .material-symbols-outlined {
        font-size: 48px;
        color: $primary;
    }

    .btn {
        outline: none;
    }
}