.navMain {
    box-shadow: 0 3px 6px $secondary;

    .navListPad {
        display: none;
    }

    .navListItem {
        box-shadow: 0 0 6px rgba(229, 166, 0, .2);
        border-right: 16px solid transparent;

        @media (max-width:1399.98px) {
            border-right: 0;
        }

        &:hover {
            border-right: 16px solid $danger;

            @media (max-width:1399.98px) {
                border-right: 0;
                background-color: $secondary-500;
            }
        }
    }


    .material-symbols-outlined {
        font-size: 48px;
        color: $primary;
    }

    .btnMenu {
        outline: 6px solid $third;
    }
}