.bgs7 {
    background-color: $secondary-300;
}

.accordion-body {
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    background-color: $secondary-300;
}


.kanjigroup,
.hirakaragroup,
.accentgroup,
.explaingroup,
.sentencegroup {
    position: relative;

    input {
        height: 48px;
        width: 100%;
        border: none;
        border-bottom: 3px solid $primary;
        font-size: 24px;
        position: relative;
        outline: none;
        padding-left: 8px;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;

        &:focus~label,
        &:valid~label {
            transform: translateY(-20px);
            font-size: 16px;
            color: $danger;
        }

        &:focus~.underline:before,
        &:valid~.underline:before {
            transform: scaleX(1)
        }

    }

    .kanji,
    .hirakara {
        max-width: 220px;
    }

    .accent {
        max-width: 106px;
    }

    .explain,
    .sentence {
        width: 290px;
    }

    .underline {
        position: absolute;
        bottom: 0;
        height: 3px;
        width: 100%;

        &:before {
            position: absolute;
            content: "";
            height: 100%;
            width: 100%;
            background: $danger;
            transform: scaleX(0);
            transition: all 0.3s ease;
        }
    }

    label {
        position: absolute;
        left: 0;
        top: 8px;
        font-size: 24px;
        color: $primary;
        pointer-events: none;
        transition: all 0.3s ease;
        padding-left: 4px;
    }
}

.part {
    font-size: 24px;
    border: 3px solid $primary;
    color: $primary;
    border-radius: 8px;
    background: white;
    cursor: pointer;

    &:hover {
        border: 3px solid $danger;
        background-color: $danger;
        color: white;
    }
}

.add {
    border: 3px solid $primary;
    border-radius: 8px;
    background: white;
    cursor: pointer;

    &:hover {
        border: 3px solid $danger;
        background-color: $danger;
        color: white;
    }
}

.wordlist {
    padding: 0 12px;
    columns: 4;
    column-gap: 12px;

    @media (max-width:1199.98px) {
        columns: 3;
        column-gap: 12px;
    }

    @media (max-width:991.98px) {
        columns: 2;
    }

    @media (max-width:767.98px) {
        columns: 1;
    }

    .wordcard {
        position: relative;
        max-width: 300px;
        width: 100%;
        background-color: $secondary-300;
        box-shadow: 0 1px 6px $success-700;
        border-radius: 16px;
        overflow: hidden;
        color: $primary;
        margin-bottom: 24px;



        &:hover .word {
            top: 0;
            width: 100%;
            height: 48px;
            box-shadow: 0 0 6px $secondary-700;
            // background-color: rgba(229, 166, 0, 0.3);
            background-color: $success-900;

            .wordText {
                position: absolute;
                color: $primary;
                transform: translate(-50%, -75%);
            }
        }

        .word {
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            // background: linear-gradient($success-300, $secondary-300);
            overflow: hidden;
            transition: 0.5s;


            .wordText {
                position: absolute;
                top: 80%;
                left: 50%;
                transform: 0.5s;
                color: $primary;
                transform: translate(-50%, -50%);
            }

        }

        .wordone {
            background-color: $success-300;
        }

        .wordtwo {
            background-color: $secondary-300;
        }

        .wordthree {
            background-color: $primary-300;
        }

        .wordfore {
            background-color: $danger-500;
        }

        .nihonko {
            margin-top: 60px;
        }

        .fav {
            color: $secondary;

            &:hover,
            &:active {
                color: $danger;
            }
        }

        .favShow {
            color: $primary;

            &:hover,
            &:active {
                color: $danger;
            }
        }
    }
}