.kanjigroup,
.hirakaragroup,
.accentgroup,
.explaingroup,
.sentencegroup {
    position: relative;

    input {
        height: 48px;
        width: 100%;
        border: none;
        border-bottom: 3px solid $primary;
        font-size: 24px;
        position: relative;
        outline: none;
        padding-left: 8px;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        background-color: $third;

        &:focus~label,
        &:valid~label {
            transform: translateY(-20px);
            font-size: 16px;
            color: $danger;
        }

        &:focus~.underline:before,
        &:valid~.underline:before {
            transform: scaleX(1)
        }

    }

    .kanji,
    .hirakara {
        max-width: 220px;
    }

    .accent {
        max-width: 106px;
    }

    .explain,
    .sentence {
        width: 290px;
    }

    .underline {
        position: absolute;
        bottom: 0;
        height: 3px;
        width: 100%;

        &:before {
            position: absolute;
            content: "";
            height: 100%;
            width: 100%;
            background: $danger;
            transform: scaleX(0);
            transition: all 0.3s ease;
        }
    }

    label {
        position: absolute;
        left: 0;
        top: 8px;
        font-size: 24px;
        color: $primary;
        pointer-events: none;
        transition: all 0.3s ease;
        padding-left: 4px;
    }
}


.send {
    .material-symbols-outlined {
        font-size: 36px;
    }
}


.kakushu {
    height: 860px;

}

.wordlist {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: left;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: flex-start;
    height: 740px;
}

.wordlist .card {
    position: relative;
    width: 300px;
    cursor: pointer;
}

.wordlist .card .name {
    position: relative;
    padding: 10px 0;
    border: 2px solid #000;
    text-align: center;
    background: #fff;
    z-index: 1;
}

.wordlist .card .name h3 {
    font-weight: 500;
    font-size: 1.5rem;
}

.wordlist .card .details {
    position: relative;
    text-align: center;
    height: 0;
    transition: 0.5s;
    border: 2px solid #000;
    margin-top: -2px;
    overflow: hidden;
    top: -2px;
}

.wordlist .card:hover .details {
    height: 160px;
}

.wordlist .card .details .content {
    position: relative;
    padding: 16px 20px;
}

.wordlist .card .details .content h2 {
    font-size: 3em;
    font-weight: 500;
}

.wordlist .card .details .content span {
    font-size: 0.4rem;
}

.wordlist .card .details .content a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    margin-top: 15px;
    background: rgba(0, 0, 0, 0.9);
    color: #fff;
    text-decoration: none;
}