<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>
    <%- title %>
  </title>
  <script src="https://kit.fontawesome.com/4d58487456.js" crossorigin="anonymous"></script>
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
  <link rel="stylesheet" href="./assets/style/all.css">
</head>

<body class="bg-light">
  <div class="container">
    <div class="row">
      <div class="col-xxl-2 pb-3 order-xxl-0 order-0">
        <div class="navMain bg-third d-flex flex-column">
          <img src="./assets/images/navUp.svg" alt="navUp" class="navUp d-none d-xxl-block" width="90" height="90">
          <div class="navBar mx-3 mx-xxl-auto mb-0 mb-xxl-10 py-2 d-flex justify-content-between">
            <h1 class="">
              <a href="#" class="d-block">
                <img src="./assets/images/logo.svg" alt="logo" class="d-none d-xxl-block">
                <img src="./assets/images/smallLogo.svg" alt="logo" class="d-block d-xxl-none">
              </a>
            </h1>
            <a class="btn p-0 btnMenu" data-bs-toggle="collapse" href="#menu" role="button" aria-expanded="false"
              aria-controls="menu">
              <span class="material-symbols-outlined d-block d-xxl-none">
                menu
              </span>
            </a>
          </div>
          <ul class="navList d-flex flex-xxl-column d-none d-xxl-block pb-0 pb-xl-12">
            <li class="navListItem active py-3 fs-2 w-100">
              <a href="./home.html" class="text-primary d-block fs-3 text-center text-xxl-start"><img
                  src="./assets/images/indexIcon.svg" alt="indexIcon"
                  class="Icon ps-0 ps-xxl-5 pe-3 pe-xxl-4 align-text-top">首頁</a>
            </li>
            <li class="navListItem py-3 fs-2 w-100">
              <a href="./vocabulary.html" class="text-primary d-block fs-3 text-center text-xxl-start"><img
                  src="./assets/images/wordIcon.svg" alt="wordIcon"
                  class="Icon ps-0 ps-xxl-5 pe-3 pe-xxl-4 align-text-top">單字庫</a>
            </li>
            <li class="navListItem py-3 fs-2 w-100">
              <a href="#" class="text-primary d-block fs-3 text-center text-xxl-start"><img
                  src="./assets/images/favoriteIcon.svg" alt="Icon"
                  class="Icon ps-0 ps-xxl-5 pe-3 pe-xxl-4 align-text-top">收藏夾</a>
            </li>
            <li class="navListItem py-3 fs-2 w-100">
              <a href="#" class="text-primary d-block fs-3 text-center text-xxl-start"><img
                  src="./assets/images/textIcon.svg" alt="textIcon"
                  class="Icon ps-0 ps-xxl-5 pe-3 pe-xxl-4 align-text-top">測驗</a>
            </li>
          </ul>
          <div class="collapse" id="menu">
            <ul class="navList d-flex flex-wrap d-xxl-none">
              <li class="navListItem active py-2 py-md-3 fs-2 w-50 text-center">
                <a href="./home.html" class="text-primary d-block fs-3 text-center text-xxl-start"><img
                    src="./assets/images/indexIcon.svg" alt="indexIcon"
                    class="Icon ps-0 ps-xxl-5 pe-0 pe-xxl-4 align-text-top">
                  <p class="d-inline-block">首頁</p>
                </a>
              </li>
              <li class="navListItem py-2 py-md-3 fs-2 w-50">
                <a href="./vocabulary.html" class="text-primary d-block fs-3 text-center text-xxl-start"><img
                    src="./assets/images/wordIcon.svg" alt="wordIcon"
                    class="Icon ps-0 ps-xxl-5 pe-0 pe-xxl-4 align-text-top">
                  <p class="d-inline-block">單字庫</p>
                </a>
              </li>
              <li class="navListItem py-2 py-md-3 fs-2 w-50">
                <a href="#" class="text-primary d-block fs-3 text-center text-xxl-start"><img
                    src="./assets/images/favoriteIcon.svg" alt="Icon"
                    class="Icon ps-0 ps-xxl-5 pe-0 pe-xxl-4 align-text-top">
                  <p class="d-inline-block">收藏夾</p>
                </a>
              </li>
              <li class="navListItem py-2 py-md-3 fs-2 w-50">
                <a href="#" class="text-primary d-block fs-3 text-center text-xxl-start"><img
                    src="./assets/images/textIcon.svg" alt="textIcon"
                    class="Icon ps-0 ps-xxl-5 pe-0 pe-xxl-4 align-text-top">
                  <p class="d-inline-block">測驗</p>
                </a>
              </li>
            </ul>
          </div>
          <img src="./assets/images/navDown.svg" alt="navDown" class="navDown d-none d-xxl-block  ms-auto mt-auto"
            width="90" height="90">
        </div>
      </div>
      <%- contents %>
    </div>
  </div>
  <div class="footer">
    <p class="text-center bg-primary text-third py-2 ">Copyright © 2022 日日背單字. All Rights Reserved.</p>
  </div>

  <script src=" ./assets/js/vendors.js"></script>
  <script src="./assets/js/all.js"></script>
</body>

</html>